.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.app-sidenav {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
